data units source="data/units.csv" {
  map asset_id from="asset"

  set asset_id alias="a"
  param capacity_mw {
    index asset_id
  }
  param marginal_cost {
    index asset_id
  }
}

data availability_data source="data/availability.csv" {
  map asset_id from="asset_name"

  set asset_id
  set t
  param availability {
    index asset_id
    index t
  }
}

data load_data source="data/load.csv" {
  set t
  param load {
    index t
  }
}

model SouthAfricaSingleZoneDispatch {
  set asset_id alias="a"
  set time alias="t"

  param capacity_mw {
    index asset_id
  }
  param marginal_cost {
    index asset_id
  }
  param availability {
    index asset_id
    index time
  }
  param load {
    index time
  }

  control dispatch {
    index asset_id
    index time
    lower 0
  }

  expression dispatch_cost {
    sum(marginal_cost[asset] * dispatch[asset,t] for asset in asset_id for t in time)
  }

  constraint dispatch_limit {
    index asset { in asset_id }
    index t { in time }
    expression {
      dispatch[asset,t] <= capacity_mw[asset] * availability[asset,t]
    }
  }

  constraint balance {
    index t { in time }
    expression {
      sum(dispatch[asset,t] for asset in asset_id) = load[t]
    }
  }

  minimize total_system_cost {
    dispatch_cost
  }
}

scenario south_africa_single_zone_with_storage {
  use SouthAfricaSingleZoneDispatch
  report dispatch_cost
}
