data units from="data/units.csv" {
  map asset_id from="asset"

  set asset_id alias="a"
  param capacity_mw index_by="asset_id"
  param marginal_cost index_by="asset_id"
}

data availability_data from="data/availability.csv" {
  map asset_id from="asset_name"

  set asset_id
  set t
  param availability {
    index asset_id
    index t
  }
}

data load_data from="data/load.csv" {
  set t
  param load index_by="t"
}

model SouthAfricaSingleZoneDispatch {
  set asset_id alias="a"
  set time alias="t" from="horizon"

  param capacity_mw index_by="asset_id"
  param marginal_cost index_by="asset_id"
  param availability {
    index asset_id
    index time
  }
  param load index_by="time"

  control dispatch {
    index asset_id
    index time
  }

  expression DispatchCost {
    sum(marginal_cost[a] * dispatch[a,t] for a in asset_id for t in time)
  }

  constraint dispatch_limit {
    dispatch[a,t] <= capacity_mw[a] * availability[a,t]
  }

  constraint balance {
    sum(dispatch[a,t] for a in asset_id) = load[t]
  }

  minimize TotalSystemCost {
    DispatchCost
  }
}

scenario SouthAfricaSingleZoneWithStorage {
  horizon steps=4 resolution=PT1H
  use SouthAfricaSingleZoneDispatch
  report DispatchCost
}
