data assets_data from="data/all_assets.csv" {
  map asset_id from="asset_name"

  set asset_id alias="a"
  param existing_capacity_mw index="asset_id"
  param max_build_mw index="asset_id"
  param build_cost index="asset_id"
  param variable_cost index="asset_id"
  param is_candidate index="asset_id"
}

data demand_data from="data/demand.csv" {
  set t
  param demand index="t"
}

data voll_data from="data/voll.csv" {
  set t
  param voll index="t"
}

model CapacityExpansion {
  set asset_id alias="a"
  set time alias="t"

  param existing_capacity_mw index="asset_id"
  param max_build_mw index="asset_id"
  param build_cost index="asset_id"
  param variable_cost index="asset_id"
  param is_candidate index="asset_id"
  param demand index="time"
  param voll index="time"

  control dispatch {
    index asset_id
    index time
  }

  control expansion index="asset_id" lower=0
  control unserved_energy index="time" lower=0

  expression InvestmentCost {
    sum(build_cost[asset] * expansion[asset] for asset in candidate_assets)
  }

  expression OperatingCost {
    sum(variable_cost[asset] * dispatch[asset,t] for asset in asset_id for t in time)
  }

  expression PenaltyCost {
    sum(voll[t] * unserved_energy[t] for t in time)
  }

  constraint dispatch_limit {
    index asset { in asset_id }
    index t { in time }
    expression {
      dispatch[asset,t] <= existing_capacity_mw[asset] + expansion[asset]
    }
  }

  constraint candidate_build_limit {
    index asset { in asset_id }
    expression {
      expansion[asset] <= max_build_mw[asset] * is_candidate[asset]
    }
  }

  constraint balance {
    index t { in time }
    expression {
      sum(dispatch[asset,t] for asset in asset_id) + unserved_energy[t] = demand[t]
    }
  }

  minimize ExpansionCost {
    InvestmentCost + OperatingCost + PenaltyCost
  }
}

scenario ExpansionCase {
  use CapacityExpansion
}
