data assets_data from="data/all_assets.csv" {
  map asset_id from="asset_name"

  set asset_id alias="a"
  param existing_capacity_mw index_by="asset_id"
  param max_build_mw index_by="asset_id"
  param build_cost index_by="asset_id"
  param variable_cost index_by="asset_id"
  param is_candidate index_by="asset_id"
}

subset candidate_assets from="assets_data" filter_by="is_candidate" eq=1

data demand_data from="data/demand.csv" {
  set t
  param demand index_by="t"
}

data voll_data from="data/voll.csv" {
  set t
  param voll index_by="t"
}

model CapacityExpansion {
  set asset_id alias="a"
  set time alias="t" from="horizon"

  param existing_capacity_mw index_by="asset_id"
  param max_build_mw index_by="asset_id"
  param build_cost index_by="asset_id"
  param variable_cost index_by="asset_id"
  param is_candidate index_by="asset_id"
  param demand index_by="time"
  param voll index_by="time"

  control dispatch {
    index asset_id
    index time
  }

  control build index_by="asset_id" lower=0
  control unserved_energy index_by="time" lower=0

  expression InvestmentCost {
    sum(build_cost[a] * build[a] for a in candidate_assets)
  }

  expression OperatingCost {
    sum(variable_cost[a] * dispatch[a,t] for a in asset_id for t in time)
  }

  expression PenaltyCost {
    sum(voll[t] * unserved_energy[t] for t in time)
  }

  constraint dispatch_limit {
    dispatch[a,t] <= existing_capacity_mw[a] + build[a]
  }

  constraint candidate_build_limit {
    build[a] <= max_build_mw[a] * is_candidate[a]
  }

  constraint balance {
    sum(dispatch[a,t] for a in asset_id) + unserved_energy[t] = demand[t]
  }

  minimize ExpansionCost {
    InvestmentCost + OperatingCost + PenaltyCost
  }
}

scenario ExpansionCase {
  horizon steps=24 resolution=PT1H
  use CapacityExpansion
}
