data units from="data/units.csv" {
  map asset_id from="asset"

  set asset_id alias="a"
  param variable_cost index="asset_id"
}

data demand_data from="data/demand.csv" {
  set t
  param demand index="t"
}

model generator_allocation {
  set asset_id alias="a"
  set time alias="t"

  param variable_cost index="asset_id"
  param demand index="time"

  control dispatch lower=0 {
    index asset_id
    index time
  }

  constraint capacity_limit {
    index asset { in asset_id }
    index t { in time }
    expression {
      dispatch[asset,t] <= 10
    }
  }

  constraint balance {
    index t { in time }
    expression {
      sum(dispatch[asset,t] for asset in asset_id) = demand[t]
    }
  }

  minimize total_cost {
    sum(variable_cost[asset] * dispatch[asset,t] for asset in asset_id for t in time)
  }
}

scenario generator_allocationDay {
  use generator_allocation
}
