data battery from="data/battery.csv" {
  map asset_id from="asset"

  set asset_id alias="a"

  param power_mw index_by="asset_id"
  param energy_mwh index_by="asset_id"
  param charge_efficiency index_by="asset_id"
  param discharge_efficiency index_by="asset_id"
  param initial_soc_mwh index_by="asset_id"
  param terminal_soc_mwh index_by="asset_id"
}

data price_curve from="data/prices.csv" {
  set t
  param prices index_by="t"
}

model PriceTakerBattery {
  set asset_id alias="a"
  set time alias="t" from="horizon"

  param power_mw index_by="asset_id"
  param energy_mwh index_by="asset_id"
  param charge_efficiency index_by="asset_id"
  param discharge_efficiency index_by="asset_id"
  param initial_soc_mwh index_by="asset_id"
  param terminal_soc_mwh index_by="asset_id"
  param prices index_by="time"

  control charge {
    index asset_id
    index time
  }
  control discharge {
    index asset_id
    index time
  }
  control soc {
    index asset_id
    index time
  }

  expression ArbitrageRevenue {
    sum(prices[t] * (discharge[a,t] - charge[a,t]) for a in asset_id for t in time)
  }

  constraint soc_balance {
    soc[a,t] = soc[a,t-1] + charge_efficiency[a] * charge[a,t] - discharge[a,t] / discharge_efficiency[a]
  }
  constraint charge_limit {
    charge[a,t] <= power_mw[a]
  }
  constraint discharge_limit {
    discharge[a,t] <= power_mw[a]
  }
  constraint soc_bounds {
    0 <= soc[a,t] <= energy_mwh[a]
  }

  maximize ArbitrageProfit {
    ArbitrageRevenue
  }
}

scenario BatteryArbitrageDay {
  horizon steps=24 resolution=PT1H
  use PriceTakerBattery
  report ArbitrageRevenue
}
