data battery from="data/battery.csv" {
  map asset_id from="asset"

  set asset_id alias="a"

  param power_mw index_by="asset_id"
  param energy_mwh index_by="asset_id"
  param charge_efficiency index_by="asset_id"
  param discharge_efficiency index_by="asset_id"
  param initial_soc_mwh index_by="asset_id"
  param terminal_soc_mwh index_by="asset_id"
}

data price_curve from="data/prices.csv" {
  set t
  param prices index_by="t"
}

model PriceTakerBattery {
  set asset_id alias="a"
  set time alias="t" from="horizon"

  param power_mw index_by="asset_id"
  param energy_mwh index_by="asset_id"
  param charge_efficiency index_by="asset_id"
  param discharge_efficiency index_by="asset_id"
  param initial_soc_mwh index_by="asset_id"
  param terminal_soc_mwh index_by="asset_id"
  param prices index_by="time"

  control charge {
    index asset_id
    index time
  }
  control discharge {
    index asset_id
    index time
  }
  control soc {
    index asset_id
    index time
  }

  expression ArbitrageRevenue {
    sum(prices[t] * (discharge[asset,t] - charge[asset,t]) for asset in asset_id for t in time)
  }

  constraint soc_initial {
    over asset in=asset_id
    expr {
      soc[asset,1] = initial_soc_mwh[asset] + charge_efficiency[asset] * charge[asset,1] - discharge[asset,1] / discharge_efficiency[asset]
    }
  }

  constraint soc_balance {
    over asset in=asset_id
    over t in=time
    when "t > 1"
    expr {
      soc[asset,t] = soc[asset,t-1] + charge_efficiency[asset] * charge[asset,t] - discharge[asset,t] / discharge_efficiency[asset]
    }
  }

  constraint charge_limit {
    over asset in=asset_id
    over t in=time
    expr {
      charge[asset,t] <= power_mw[asset]
    }
  }

  constraint discharge_limit {
    over asset in=asset_id
    over t in=time
    expr {
      discharge[asset,t] <= power_mw[asset]
    }
  }

  constraint soc_bounds {
    over asset in=asset_id
    over t in=time
    expr {
      0 <= soc[asset,t] <= energy_mwh[asset]
    }
  }

  constraint terminal_soc {
    over asset in=asset_id
    over t in=time
    when "t == 24"
    expr {
      soc[asset,t] = terminal_soc_mwh[asset]
    }
  }

  maximize ArbitrageProfit {
    ArbitrageRevenue
  }
}

scenario BatteryArbitrageDay {
  horizon steps=24 resolution=PT1H
  use PriceTakerBattery
  report ArbitrageRevenue
}
