data links source="data/links.csv" {
  map generators from="gen"
  map buses from="bus"

  set area alias="a"
  set tech alias="i"
  set generators alias="g"
  set buses alias="b"

  set feasible_links {
    index a { in area }
    index i { in tech }
    index g { in generators }
    index b { in buses }
    filter { feasible > 0 }
  }

  param capacity_mw {
    index a
    index i
    index g
    index b
  }

  param priority_floor_mw {
    index a
    index i
    index g
    index b
  }

  param mw_target {
    index a
    index i
    reduce "max"
  }
}

set priority_links {
  in feasible_links
  index a { in area }
  index i { in tech }
  index g { in generators }
  index b { in buses }
  filter { area == "south" }
}

set feasible_ai {
  in feasible_links
  index a { in area }
  index i { in tech }
}

projection "ai" {
  from "feasible_links"
  to "a" "i"
}

model NodalAllocation {
  control investment lower=0 {
    index a { in feasible_links }
    index i { in feasible_links }
    index g { in feasible_links }
    index b { in feasible_links }
  }

  expression investment_by_area_tech {
    reduce "ai" {
      sum "investment"
    }
  }

  constraint investment_capacity {
    index a { in feasible_links }
    index i { in feasible_links }
    index g { in feasible_links }
    index b { in feasible_links }
    expression {
      investment[a,i,g,b] <= capacity_mw[a,i,g,b]
    }
  }

  constraint priority_floor {
    index a { in priority_links }
    index i { in priority_links }
    index g { in priority_links }
    index b { in priority_links }
    expression {
      investment[a,i,g,b] >= priority_floor_mw[a,i,g,b]
    }
  }

  constraint enforce_mw_target {
    index a { in feasible_ai }
    index i { in feasible_ai }
    expression {
      investment_by_area_tech[a,i] >= mw_target[a,i]
    }
  }

  minimize tuple_membership_tracer { 0 }
}

scenario NodalAllocationDay {
  use NodalAllocation
}
